@model rent_a_car.OzellikEkle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OzellikEkle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Araba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Araba.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ozellik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ozellik.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
